:root {
  /* 颜色 */
  --yellow: rgb(248, 229, 136);
  --pink: #fac4e2;
}

body {
  margin: 0px;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
}
/* * {
        border: 1px solid black;
      } */
.w-100 {
  width: 100%;
}
.yinYing {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.yinYing:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex3 {
  flex: 3;
}
.column {
  flex-direction: column;
}
.white {
  background-color: white;
}
.mg8 {
  margin: 8px;
}
.mgr8 {
  margin-right: 8px;
}
.mgt8 {
  margin-top: 8px;
}
.suoYin {
  padding: 13px 20px;
  border-bottom: 2px solid rgb(193, 192, 192);
  font-size: 15px;
  font-weight: 500;
  color: rgb(72, 72, 72);
}
.oa {
  overflow: auto;
}
.box {
  overflow-y: auto;
}
*::-webkit-scrollbar {
  display: none;
}
.biaoTiLan {
  height: 50px;
  z-index: 1;
  padding: 20px;
  font-size: 28px;
  color: rgb(234, 248, 212);
  background-color: rgb(116, 133, 243);
}
.ah {
  min-height: 150px;
  height: auto;
  max-height: 500px;
}
.lanMu {
  min-height: 100px;
  height: auto;
  max-height: 600px;
}
.gongNeng {
  min-height: 150px;
  height: auto;
  max-height: 400px;
}
/* 当屏幕宽度小于600的时候要改变的css */
@media (max-width: 600px) {
  .ceBian {
    display: none;
  }
  .neiRongLan {
    flex-direction: column;
  }
  .shuJuQu {
    flex-direction: column;
  }
  .youQu {
    margin-left: 8px;
  }
  .shuJu {
    margin: 0 0 8px;
    flex: auto;
  }
  /*移除滚动条*/
  .neiRongLan::-webkit-scrollbar {
    display: none;
  }
  .biaoTiLan {
    font-size: 15px;
  }
  .gongNeng {
    min-height: 80px;
  }
}
